@media (max-width:1267px) {
    .a4,.a4 span{
      display: none;
    }
    .a2,.a2 span {
      display: none;
    }
    .mid-top{
      width: 30%;
    }
    .main-body section  span{
      display: none;
    }
   
   
  }
  @media (max-width:965px){
    .side{
      display: none;
    }
    .three-button{
      margin-right: 17px;
    }
    .a3 span{
      display: none;
    }
    .mid-top{
      width: 11%;
    }
    .main-content{
      width: 125%;
    }
    .fa-solid{
     display:none;
    }
  
  }
@media(max-width:952px){
 .a1 span{
  display: none;
 }
 .mid-top{
  display: none;
 }
 .head{
  display: flex;
  justify-content: space-between;
 }
 
 
}
@media(max-width:630px){
  .display-content img{
    display: none;
  }
 
}

@media (max-width:415px) {
  .main-body section nav ul >:nth-child(3){
    display: none;
  }
}
@media(max-width:700px){
  .app-status {
    display: none;
  }
}
@media(max-width:550px){
 .three-button{
  opacity: 0;
 }
 
 .container header{
  display: flex;
  justify-content: space-around;
 }
}
