@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
:root{
    --theme-bg-color: rgba(16, 18, 27, 0.317);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgba(146, 151, 179, 0.196);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg: #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);

}
body{
    font-family: var(--body-font);
    background: url("https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(3px);
}
.container{
height: 42rem;
width: 100%;
border-radius: 12px;
background: var(--theme-bg-color);

}
.container header{
    display: flex;
    height: 50px;
    gap: 3rem;
    border-bottom: 1px solid var(--border-color);
}
.three-button{
display:flex;
justify-content: center;
align-items: center;
margin-right: 150px;
}
.right{
  margin-left: -20px;
height: 100%;
width: 11%;
display: flex;
justify-content: space-around;
align-items: center;
}
.profile{
  height: 35px;
  width: 35px;
  border: 2px solid #f9fafb;
  border-radius: 50%;
  background: url('https://www.acharyaamrit.com.np/assets/img/profilepic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.buttons{
width: 15px;
height: 15px;
background-color: #f96057;
border-radius: 50%;
box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
flex-shrink: 0;
margin-left: 15px;
}
.mid-top{
    width: 40%;
    color: var(--content-title-color);
    display: flex;
    align-items: center;
}
.mid-top nav {
  display: flex;
  
}
.mid-top nav ul div {
    display: inline;
    margin-left:  3rem;
    margin-top: 2rem;
    font-size: medium;
    cursor: pointer;
    padding-bottom: 12px;
    list-style: none;
}
.mid-top nav ul div:active,.mid-top  nav ul div:hover {
    color:var(--theme-color);
    
    border-bottom:2px solid var(--theme-color);
}
.search{
    max-width: 300px;
    width: 500px;
    margin: 5px;
    margin-left: -50px;
   
}
.search input{
    width: 100%;
    height: 40px;
    background: var(--search-bg);
    border-style: none;
    outline: none;
    color: var(--content-title-color);
    border-radius: 9px;
}
.main-container{
    display: flex;
    height: 39rem;
}
.side{
    height: 100%;
    width: 20%;
    padding: 22px 0px 0px 8px;
    overflow: scroll;
    scrollbar-color: var(--scrollbar-bg);
    
}
.main-body{
    height: 100%;
    width: 80%;
}
.head-topic{
    border-bottom: 1px solid var(--border-color);
}
.main-body section{
    width: 100%;
    display: flex;
    font-size: large;
    padding: 13px;
    
}
.main-body section span{
    margin-left: 1.5rem;
    margin-top: 0.7rem;
    color: var(--theme-color);
}
.main-body section nav {
    display: block;
    width: 30rem;
    margin: 0 auto;
}
.main-body section nav ul li {
    display: inline;
    list-style: none;
    text-align: center;
    padding:0px 9px 13px 5px;
    margin-left: 2rem;
}
.main-body section nav ul a{
text-decoration: none;
color: var(--inactive-color);
}
 .active,.main-body section nav ul li:hover{
    color: var(--theme-color);
    border-bottom:3px solid var(--theme-color);
}
.tittle{
    color: var(--inactive-color);
    margin-bottom: 14px;
}
.side-menu{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding-left: 8px;
    margin-bottom: 9px;
}
.side-menu a{
    text-decoration: none;
    color: var(--theme-color);
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
}
.side-menu a:hover{
background: var(--hover-menu-bg);  
}
.side-menu svg{
    width: 16px;
    margin-right: 9px;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #33323200; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: rgb(86, 85, 85); 

  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 70, 70); 
  }
  .main-content{
    width: 100%;
    height: 35.6rem;
    overflow: scroll;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .content{
    width: 100%;
    background: var(--theme-bg-color);
    backdrop-filter: blur(20px);
  }
  .display-wala{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 250px;
  }
  .display-content{
    display: flex;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    background-image: url(https://www.transparenttextures.com/patterns/cubes.png), linear-gradient(to right top, #cf4af3, #e73bd7, #f631bc, #fd31a2, #ff3a8b, #ff4b78, #ff5e68, #ff705c, #ff8c51, #ffaa49, #ffc848, #ffe652);
    overflow: hidden;
  }
  .display-content img{
    height: 180px;
    width: 130px;
    position: absolute;
    right: 50px;
  }
  .display-content-word{
   max-width: 383px;
    height: 100%;
    color: var(--theme-color);
    padding: 15px;
    font-size: 18px;
    text-overflow: clip;
    overflow: hidden;
  }
  .display-content-word p{
    font-size: 15px;
    font-weight: 350;
    
  }
  .display-topic{
    padding: 12px;
    font-weight: 550
  }
.btn{
    background: rgb(22, 118, 228);
    border-style: none;
    border-radius: 40px;
    padding: 9px;
    color: #f9fafb;
    margin: 20px;
    cursor: pointer;
}
  .display-topic svg{
    height: 20px;
    width: 20px;
  }
  .app-content{
   border-radius: 13px;
    width: 90%;
    margin: 0 auto;
    min-height: 150px;
    background: var(--content-bg);
  }

.apps{
  border-bottom: 2px solid var(--border-color);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
 
}
.apps:hover{
  background: var(--hover-menu-bg);
  cursor: pointer;
}
.app-logo{
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 20px;
}
.app-button{
 
  position: absolute;
  right: 50px;
  padding: 6px 15px 6px 15px;
 background: none;
 color: var(--button-inactive);
 border: 1px solid var(--button-inactive);
 cursor: pointer;
  border-radius: 15px;
}
.app-button-update-available{
  background-color: rgb(22, 118, 228);
  color: var(--theme-color);
  border-style: none;
}


.app-name{
  font-weight:  550;
}
/* .app-status{
  position: absolute;
  left: 23rem;
  display: flex;
  align-items: center;
  font-weight: 600;
} */
.app-status{
  display: block;
  width: 10rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.app-circle{
  height: 7px;
  width: 7px;
  background-color: #5fcf65;
  border-style: none;
  border-radius: 50%;
  margin-right: 10px;
}
.app-circle-blue{
  background: rgb(8, 139, 204);
}
.app-three-dot{
  position: absolute;
  right: 30px;
 background: var(--button-inactive);
 height: 6px;
 border-radius: 50%;
 width: 6px;
 box-shadow: 8px 0 0 0  var(--button-inactive),
  16px 0 0 0 var(--button-inactive);
  cursor: pointer;
}
.noti{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color:rgb(8, 99, 204) ;
  height: 15px;
  width: 15px;
  border-radius: 50%; 
}
.noti-right{
  position: relative;
  left: 45px;
}
.app-plan{
  height: 100%;
  display: flex;
  padding:0px 45px 0px 25px;
 flex-wrap: wrap;
 gap: 1rem;
}
.app-plan>:nth-child(1){
  flex-grow: 3;
}
.app-plan>:nth-child(2){
  flex-grow: 3;
}
.app-plan>:nth-child(3){
  flex-grow: 4;
}
.app-section{
  width: 10rem;
  height: min-content;
  margin-left: 25px;
  background: var(--content-bg);
  padding: 15px 0px 15px 6px;
  border-radius: 15px;
  cursor: pointer;
}
.app-section:hover{
  background: var(--hover-menu-bg);
 /* animation: animate 0.2s ease; */
 transform: scale(1.024);
 transition: 0.2s;
}
.app-plan-name{
display: flex;
color: var(--theme-color);
}
.app-content-text{
  color: var(--theme-color);
  margin: 20px 20px 0px 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color);
}
.app-update{
height: 40px;
display: flex;
justify-content: flex-end;
align-items: center;
margin-top: 10px;

}
/* .btn-2{
  position: relative;
  bottom: 10px; 
  left: 130px;
} */
.cp-text{ 
  color: rgba(86, 84, 84, 0.7); 
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 10px;
  font-size:10px;
}
 
.three-dot{
  margin-right: 30px;
  background-color: var(--button-inactive);
  height: 6px;
  width: 6px;
 border-radius: 50%;
box-shadow: 8px 0 0 0 var(--button-inactive),
 16px 0 0 0 var(--button-inactive);
 cursor: pointer;
}
/* @keyframes animate{
  0%{
  transform: scale(1);  
  }
  100%{
    transform: scale(1.04);
  }
} */
.fa-solid{
  filter: invert(100%);
  cursor: pointer;
  font-size: 20px;
}
.fa-bell{
  margin-top: 7px;
}

.sub-menu{
  display: none;
  height: 60px;
  width: 70px;
}
.menu{
  width: 100%;
  height: 33.3%;
  border-bottom: 1px solid var(--border-color);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-menu >:nth-child(1){
 border-radius: 15px 15px 0px 0px;
}
.sub-menu >:nth-child(3){
  border-radius: 0px 0px 15px 15px;
}
.menu:hover{
  background: var(--dropdown-hover);
}
.app-three-dot:hover .sub-menu , .three-dot-container:hover .sub-menu
{
  border-radius: 16px;
  background: var(--dropdown-bg);
  display: block;
  position: relative;
  top: 20px;
  right: 85px;
  z-index: 5;
  height: 110px;
  width: 120px;

}
.three-dot-container{
  
  height: 100%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}